<div class="banneruser">
</div>
<div class="ctn">
  <h4>Forgot your password?</h4>
  <br>
  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  label: false,
                  placeholder: 'Email',
                  input_html: { class: "input" } %>
    </div>
    <br>
    <div class="form-actions">
      <%= f.button :submit, "Reset password", class: "btn-dark-blue" %>
    </div>
  <% end %>
</div>
<div class="ctn-new-page">
  <div class="links-forget-pass">
    <p>Return to <%= link_to "Log in", new_session_path(resource_name) %></p>
  </div>
</div>
