<div class="modal fade" id="cartModal" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content-cart">
      <div class="modal-body-cart">
        <% if @order.nil? || @order.order_lists.empty? %>
          <h4 style="text-align: center;">Your cart is empty</h4>
          <p>Please make sure to select an item before consulting your cart</p>
        <% else %>
          <h3 style="text-align: center;">My cart</h3>
          <div class="ctn-show-infos-cart">
            <% @order.order_lists.each do |order_list| %>
              <div class="ctn-show-items-cart">
                <p class="show-item-name-cart"><%= order_list.item_quantity %> X </p>
                <p class="show-item-name-cart" style="width: 60%; font-weight: bold;"><%= order_list.item.name %></p> 
                <p>@<%= round_price(order_list.item.item_price) %>.-</p>
                <p><%= round_price(order_list.item.item_price * order_list.item_quantity) %>.-</p>
                <%= link_to order_list, method: :delete do %>
                  <i class="fas fa-trash"></i>
                <% end %>
              </div>
            <% end %>
            <div class="total-cart">
              <h4>Total</h4>
              <h4><%= round_price(@order.calculate_price) %> CHF</h4>
            </div>
            <div class="end-page-with-btn">
              <%= link_to 'Checkout', order_path(@order.id), class: "btn-dark-blue-index" %>
              <%# <button type="button" id="btn-dark-blue-cart" data-dismiss="modal"></button> %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
