<div class="modal fade" id="cartModal" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cartModalLabel">My cart</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% if @order.nil? || @order.order_lists.empty? %>
          <h6>Empty cart</h6>
          <p>Please make sure to select an item before consulting your cart</p>
        <% else %>
          <% @order.order_lists.each do |order_list| %>
            <div class="ctn-show-items">
              <i class="far fa-hand-point-up"><% link_to item_path(order_list), remote: true %></i>
              <p class="show-item-name"><%= order_list.item_quantity %> X </p>
              <p class="show-item-name"><%= order_list.item.name %> @ <%= round_price(order_list.item.item_price) %> CHF</p>
              <p><%= round_price(order_list.item.item_price * order_list.item_quantity) %> CHF</p>
              <%= link_to 'x', order_list, method: :delete %>
            <% end %>
            </div>
          <div class="total">
            <h4>Total</h4>
            <p><%= round_price(@order.calculate_price) %> CHF</p>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
