<div class="fixed-top">
 <nav class="navbar my_navbar">
    <button class="navbar-toggler menu" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" style="box-shadow: 1px 3px 4px rgb(0 0 0 / 25%);">
      <span class="navbar-toggler-icon" style="color: #0B3954;"><i class="fa fa-bars"></i></span>
    </button>
    <%= link_to root_path do %>
    <div id="nav-home">
      <%= image_tag "easyorder-logo.png", id: "nav-image" %>
    </div>
    <% end %>
    <% unless current_user.is_barman %>
      <button class="navbar-toggler" type="button" data-toggle="modal" data-target="#cartModal" style="box-shadow: 1px 3px 4px rgb(0 0 0 / 25%);">
        <i class="fa fa-shopping-cart" style="color: #0B3954;"></i>
      </button>
    <% end %>
  </nav>
  <div class="navbar-collapse collapse" id="navbarCollapse">
    <div class="top-nav-menu">
      <% if current_user.avatar.attached? %>
        <%= cl_image_tag(current_user.avatar.key, aspect_ratio: "1:1", quality: 100, width: 70, crop: "fill", radius: 50, class: "avatar-bordered") %>
      <% else %>
        <%= image_tag "default-avatar.jpg", class: "avatar-bordered"  %>
      <% end %>
      <%= link_to current_user.first_name, edit_user_registration_path(@user), class: "dropdown-frist-name" %>
    </div>
    <% unless current_user.is_barman %>
      <%= link_to "Home", root_path, class: "dropdown-item" %>
      <% unless @current_order.nil? %>
        <%= link_to "My order", my_orders_path(@current_order), class: "dropdown-item" %>
      <% end %>
      <%= link_to "Archives", my_archives_path, class: "dropdown-item" %>
    <% end %>
    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
  </div>
</div>
