<div class="fixed-top  bg-dark">
</div>
<div class="fixed-top">
 <nav class="navbar my_navbar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <h1 id="nav-home">HOME</h1>
    <button class="navbar-toggler" type="button" data-toggle="modal" data-target="#exampleModal">
      <i class="fa fa-shopping-cart"></i>
    </button>

  </nav>

  <div class="collapse" id="navbarToggleExternalContent">
    <div>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/sarahlafer", class: "avatar-bordered", alt: "avatar-bordered" %>
      <%# <%= @user.user_name %>
      <ul>
        <%= link_to "Home", "#", class: "dropdown-item" %>
        <%= link_to "My orders", "#", class: "dropdown-item" %>
        <%= link_to "Account", "#", class: "dropdown-item" %>
        <%= link_to "Log out", "#", method: :delete, class: "dropdown-item" %>
        <div class="logos">
          <i class="fab fa-facebook"></i>
          <i class="fab fa-instagram"></i>
        </div>
    </div>
  </div>
</div>
