<div class="ctn-show-infos-barman">
  <h4 id="titlebarman">Content of the order</h4>
  <p><strong>Customer:</strong> <%= "#{@order.user.first_name} #{@order.user.last_name}" %></p>
  <p><strong>Ordered at:</strong> <%= @order.created_at.strftime('%H:%M') %></p>
  <p><strong>Password:</strong> <%= @order.passcode %></p>
  <div class="ctn-show-infos-cart">
    <% @order.order_lists.each do |order_list| %>
      <div class="ctn-show-items-cart">
        <p class="show-item-name-cart"><%= order_list.item_quantity %>X </p>
        <p class="show-item-name-cart" style="width: 60%; font-weight: bold;"><%= order_list.item.name %>
        <p>@<%= round_price(order_list.item.item_price) %>.-</p>
        <p><%= round_price(order_list.item.item_price * order_list.item_quantity) %>.-</p>
      </div>
    <% end %>
    <div class="total-barman">
      <h4>Total</h4>
      <h4><%= round_price(@order.calculate_price) %> CHF</h4>
    </div>
    <%= form_for @order do |f| %>
      <div class="modal-edit-item-barman">
      <div>
        <%= f.hidden_field :is_delivered, value: true %>
      </div>
      <%= f.submit 'Deliver', class: 'btn-dark-blue-index-barman' %>
    <% end %>
  </div>
</div>
