<div class="pending">
  <h2 class="pending-title">Pending orders</h2>
  <div class="archives">
    <% @orders.select { |order| !order.in_preparation }.each do |order| %>
      <div class="pending-order">
        <%= order.created_at %> | <%= round_price(order.calculate_price) %> CHF
        <%= link_to order_path(order), remote: true do %>
        <i class="fas fa-hand-point-up"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="pending">
  <h2 class="pending-title">Orders in preparation</h2>
  <div class="archives">
    <% @orders.select { |order| !order.is_delivered && order.in_preparation }.each do |order| %>
      <div class="pending-order">
        <%= order.created_at %> | <%= round_price(order.calculate_price) %>CHF
        <%= link_to order_path(order), remote: true do %>
        <i class="fas fa-hand-point-up"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
