<head>
<script type="text/javascript">
  window.setTimeout(function() {
      window.location.href = "/orders/<%= @order.id %>/payment_confirmation";
  }, 5000);
</script>
</head>

<div class="banneruser-pay-conf">
</div>

<div class="pay-process">
  <i class="fas fa-play"></i>
  <i class="fas fa-ellipsis-h"></i>
  <i class="fas fa-credit-card"></i>
  <i class="fas fa-ellipsis-h"></i>
  <i class="fas fa-check-circle"></i>
</div>

<div class="ctn-show-pay-conf">
  <div class="ctn-show-infos-pay-conf">
    <h5>Thank you <%= current_user.first_name %> for your order:</h5>
    <div class="ctn-show-list-pay-conf">
      <% @order.order_lists.each do |order_list| %>
        <div class="ctn-show-items-pay-conf">
          <p class="show-item-name-cart" style="padding-right: 10px;"><%= order_list.item_quantity %>X </p>
          <p class="show-item-name-pay-conf"><%= order_list.item.name %></p>
          <p><%= round_price(order_list.item.item_price * order_list.item_quantity) %>.-</p>
        </div>
      <% end %>
      <div class="total-pay-conf">
        <h4>Total</h4>
        <p><%= round_price(@order.total_price) %> CHF</p>
      </div>
    </div>
    <div class="btn-show-end-page-pay-conf">
      <%= link_to "Next", account_path, class: "btn-dark-blue-show-pay-conf" %>
    </div>
  </div>
</div>
