<div class="ctn-show">
  <div class="pay-process">
    <i class="fas fa-play"></i>
    <i id="grey" class="fas fa-ellipsis-h"></i>
    <i  id="grey" class="fas fa-credit-card"></i>
    <i  id="grey" class="fas fa-ellipsis-h"></i>
    <i  id="grey" class="fas fa-check-circle"></i>
  </div>
  <div class="ctn-show-infos">
    <h4>Please confirm your order:</h4>
    <div class="ctn-show-infos-cart">
      <% @order.order_lists.each do |order_list| %>
        <div class="ctn-show-items-cart">
          <%= link_to(item_path(order_list.item), {remote: true, datatoggle: "modal", datatarget: '#itemEditModal'}) do %>
            <i class="fas fa-edit" style="font-size: 20px; color: #FF6663"></i>
          <% end %>
          <p class="show-item-name-cart"><%= order_list.item_quantity %> X </p>
          <p class="show-item-name-cart" style="width: 60%; font-weight: bold;"><%= order_list.item.name %>
          <p>@<%= round_price(order_list.item.item_price) %>.-</p>
          <p><%= round_price(order_list.item.item_price * order_list.item_quantity) %>.-</p>
        </div>
      <% end %>
      <div class="total">
        <h4>Total</h4>
        <h4><%= round_price(@order.calculate_price) %> CHF</h4>
      </div>
    </div>
    <div class="btn-show-end-page">
      <%= link_to "Pay now", payment_method_path(params[:id]), class: "btn-dark-blue-show" %>
      <%= link_to "Back", :back, class: "btn-dark-blue-show" %>
      <%= link_to "Cancel order", order_path(@order), data: { confirm: "Are you sure?" }, method: :delete, class: "btn-dark-blue-show" %>
    </div>
  </div>
</div>
