<div class="ctn-show">
  <div class="pay-process">
    <i class="fas fa-play"></i>
    <i id="grey" class="fas fa-ellipsis-h"></i>
    <i  id="grey" class="fas fa-credit-card"></i>
    <i  id="grey" class="fas fa-ellipsis-h"></i>
    <i  id="grey" class="fas fa-check-circle"></i>
  </div>
  <div class="ctn-show-infos">
    <h4>Please confirm your order:</h4>
    <div class="ctn-show-list">
      <% @order.items.each do |item| %>
        <div class="ctn-show-items">
        <i class="far fa-hand-point-up"></i>
        <p class="show-item-name"><%= item.name %></p>
        <p><%= round_price(item.item_price) %> CHF</p>
        </div>
      <% end %>
      <div class="total">
        <h4>Total</h4>
        <p><%= round_price(@order.items.sum(&:item_price)) %> CHF</p>
      </div>
    </div>
    <div class="btn-show-end-page">
      <%= link_to "Pay now", payment_method_path(params[:id]), class: "btn-dark-blue-show" %>
      <%= link_to "Back", '#', class: "btn-dark-blue-show" %>
      <%= link_to "Cancel order", '#', class: "btn-dark-blue-show" %>
    </div>
  </div>
</div>
