<div class="container-modal">
  <div class="modal-item" id="img-price">
    <% if item.photo.attached? %>
      <%= cl_image_tag item.photo.key, height: 'auto', width: 150, class: "image-modal" %>
    <% end %>
  </div>
      <button type="button" class="close-modal-item" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  <div class="modal-fields-item">
    <h3><%= round_price(@item.item_price) %> CHF</h3>
    <h5><%= @item.name %></h5>
    <%= form_for @order_list do |f| %>
      <div class="modal-edit-item">
        <p class="modal-button" id="minus-button">-</p>
        <%= f.number_field :item_quantity, class: 'number-field', id: 'item-quantity', in: 1..200, value: @order_list.item_quantity %>
        <p class="modal-button" id="plus-button">+</p>
      </div>
      <div>
        <%= f.hidden_field :item_id, value: @item.id %>
      </div>
      <%= f.submit 'Save', class: 'btn btn-dark-blue ml-0 mb-2' %>
    <% end %>
  </div>
</div>
