<div class="ctn-menu">
  <h4>What we have to offer :</h4>
    <% @categories.each do |category| %>
      <div class="items-list">
        <h3><%= category.capitalize %></h3>
        <div class="item-wrapper">
          <% @items.where(category: category).each do |item| %>
            <div class="item-inner">
              <%= link_to item_path(item), remote: true do %>
                <%= image_tag item.picture_url, :class => "item-image" %>
                <p><%= item.name%></p>
                <p><%= round_price(item.item_price)%> CHF</p>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
</div>
<% unless @order.nil? %>
  <% unless @order.order_lists.empty? %>
    <div class="end-page-with-btn">
    <%= link_to 'Checkout', order_path(@order.id), class: "btn-dark-blue-index" %>
    </div>
  <% end %>
<% end %>
