<div class="ctn-menu">
  <h4>What we have to offer :</h4>
    <% @categories.each do |category| %>
      <div class="items-list">
        <h3><%= category.capitalize %></h3>
        <div class="item-wrapper">
          <% @items.where(category: category).each do |item| %>
            <div class="item-inner">
              <%= link_to item_path(item), remote: true do %>
                <% if item.photo.attached? %>
                  <%= cl_image_tag item.photo.key, height: 150, width: 150, crop: :fill %>
                <% end %>
                <p><%= item.name%></p>
                <p><%= round_price(item.item_price)%> CHF</p>

              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
</div>
<% unless @order.nil? %>
  <% unless @order.order_lists.empty? %>
    <div class="end-page-with-btn">
    <%= link_to 'Checkout', order_path(@order.id), class: "btn-dark-blue-index" %>
    </div>
  <% end %>
<% end %>

<%# style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path item.photo.key, height: 300, crop: :fill %>