<div class="ctn-menu">
  <h3 style="font-weight: bold;">What we have to offer:</h3>
    <% @categories.each do |category| %>
      <div class="items-list">
        <h3><%= category.capitalize %> (5)</h3>
        <div class="item-wrapper">
          <% @items.where(category: category).each do |item| %>
            <div class="item-inner">
              <%= link_to item_path(item), remote: true do %>
                <% if item.photo.attached? %>
                  <%= cl_image_tag item.photo.key, height: 'auto', width: 150, class: "item-image" %>
                <% end %>
                <p id="wrapper-name"><%= item.name%></p>
                <p id="wrapper-price"><%= round_price(item.item_price)%> CHF</p>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
</div>
<% unless @order.nil? %>
  <% unless @order.order_lists.empty? %>
    <div class="end-page-with-btn">
    <%= link_to 'Checkout', order_path(@order.id), class: "btn-dark-blue-index" %>
    </div>
  <% end %>
<% end %>
