<!DOCTYPE html>
<html>
  <head>
    <title>EasyOrders</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', defer: true %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
  </head>

  <body>

    <% unless ['new'].include?(action_name) %>
      <%= render "shared/navbar" %>
    <% end %>
    <% unless ['new'].include?(action_name) %>
      <button type="button" class="btn btn-link mb-2" data-toggle="modal" data-target="#exampleModal">
        Launch demo modal
      </button>
      <%= render "shared/cart" %>
    <% end %>

    <%= yield %>
  </body>
</html>
